<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Featured Project</div>
      <div class="item item-body">
        <div>
        <div class="item item-image">
          <img src="img/raspberry.jpg">
        </div>
        <p>Getting Started with Raspberry Pi</p>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Getting Started</div>
      <div class="item item-body">
        <div>
          <p>Learn how you can combine electronic components and software to make super awesome stuff.</p>
          <button class="button button-dark">
            Get Started
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
