<ion-view view-title="Projects">
  <ion-content>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/kevin.jpg">
        <h2>Getting Started with Raspberry Pi</h2>
        <p>Kevin Bluer</p>
      </div>

      <div class="item item-image">
        <img src="img/raspberry.jpg">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-ios-arrow-thin-right"></i>
        Begin Project
      </a>

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/kevin.jpg">
        <h2>Getting Started with Arduino</h2>
        <p>Kevin Bluer</p>
      </div>

      <div class="item item-image">
        <img src="img/arduino.jpg">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-ios-arrow-thin-right"></i>
        Begin Project
      </a>

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/kevin.jpg">
        <h2>Basics of 3D Printing</h2>
        <p>Kevin Bluer</p>
      </div>

      <div class="item item-image">
        <img src="img/printer.jpg">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-ios-arrow-thin-right"></i>
        Begin Project
      </a>

    </div>    

  </ion-content>
</ion-view>
